@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body{
	margin: 0px;
	padding: 0px;
    font-family: 'Montserrat';
    font-weight: 100;
    overflow-x: hidden;
    background-color: #181818;
}

body{
    background: linear-gradient(#181818 0%, #8758FF 70%);
}

.menu{
    height: 70px;
    width: 100vw;
    display: flex;
}

.dmicons{
    margin: auto;
    text-align: right;
    width: 85%;
}

.dmicons a{
    margin: auto;
}

.dlogo{
    width: 50vw;
}

.logo{
    height: 50px;  
    margin: 10px;
    margin-left: 30px;
}

.dicons{
    display: flex;
    align-items: flex-end;
    text-align: right;
    width: 50vw;
}

.nicons{
    margin: 10px;
    width: 40px;
    height: 40px;
}

.dlogo{
    width: 50vw;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 160vh;
    margin: auto;
}

.o_container{
    height: 100%;
    width: 50%;
}

.sr_container{
    height: 350px;
}

.sr_container{
    height: 350px;
}

.l_container{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 120vh;
    margin: auto;
    margin-top: 64px;
}

.s_container{
    width: 60%;
    display: flex;
    flex-direction: row;
    height: 115vh;
    margin: auto;
    margin-top: 0px;
}

.form_estilos{
    text-align: center;
    margin: auto;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 3px solid #5CB8E4;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.form_estilos_l{
    text-align: center;
    margin: auto;
    width: 350px;
    height: 325px;
    display: flex;
    flex-direction: column;
    border: 3px solid #5CB8E4;
    background-color: #F2F2F2;
    border-radius: 10px;
}

form{
    margin: auto;
    height: 450px;
}

h1{
    font-size: 1.5em;
    font-weight: 500;
}

.itext{
    width: 250px;
    height: 40px;
    margin: 5px;
    background-color: #D9D9D9;
    padding: 7px;
    border: 0px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 100;
}

::placeholder{
    color: #6C6C6C;
}

.rbutton{
    background-color: #5CB8E4;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    width: 125px;
    height: 40px;
    font-family: 'Montserrat';
    font-weight: 100;
}

.d_header{
    width: 100%;
    height: 50px;
    background-color: #6945c2;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.t_header{
    font-weight: 300;
    padding: 15px;
    margin: 0px;
    color: #FFFFFF;
    text-align: left;
}


.d_actividades{
    background-color: white;
    margin: auto;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.d_actividadesa{
    background-color: white;
    margin: auto;
    width: 90%;
    height: 85%;
    border-radius: 10px;
}

.d_creacion{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    width: 90%;
    height: 55%;
    border-radius: 10px;
    text-align: center;
}

form{
    margin-top: 5%;
}

.inputs{
    font-family: 'Montserrat';
    width: 80%;
    border: none;
    background-color: #D9D9D9;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

.submit{
    width: 33%;
    border: 0px;
    color: white;
    font-family: 'Montserrat';
    background-color: #5CB8E4;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

.tarjetas{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    color: black;
    justify-content: left;
    align-items: left;
}

.atarjetas{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 33%;
    background-color: #F2F2F2;
    border-radius: 5px;
    display: flex;
    color: black;
    justify-content: left;
    align-items: left;
}

.ttarjeta{
    height: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.apttarjetas{
    font-weight: 500;
    margin: 5px;
    font-size: 0.7em;
}

.pttarjetas{
    font-weight: 500;
    margin: 9px;
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 1.1em;
}

.ptarjetas{
    font-weight: 300;
    margin: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
}

.opbutton{
    margin: 5px;
    height: 20px;
    width: 20px;
    border: 2px solid #01aa42;
    border-radius: 100%;
    background-color: #00d150;
    color: #00d150;
}

.opcbutton{
    margin: 5px;
    height: 20px;
    width: 20px;
    border: 2px solid #dd403d;
    border-radius: 100%;
    background-color: #fb5c5a;
    color: #fb5c5a;
}

.fdelete{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.itarjetas{
    margin: auto;
    width: 33%;
    height: 70%;
    border-radius: 5px;
}

.t_margin{
    text-align: center;
}

.t_margin a{
    margin: auto;
    text-decoration: none;
    color: #8758FF;
    font-weight: 400;
}

.c_divs{
    height: 100%;
    width: 25%;
    display: flex;
}

.ltarjetas{
    width: 90%;
    height: 125px;
    background-color: #f5f5f5;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    display: flex;
}

.istarjetas{
    text-align: left;
        margin: auto;
        width: 33%;
        height: 80%;
}

.buscador{
    width: 100vw;
    height: 70px;
    display: flex;
    text-align: center;
}

.buscador form{
    width: 100vw;
    height: 70px;
    margin: auto;
}

.buscador input{
    padding: 10px;
    font-family: 'Montserrat';
}

form p{
    font-size: 0.9em;
    color: #6C6C6C;
}

form a{
    color: #6C6C6C;
}

span{
    text-decoration: underline;
}

footer{
    height: 5vw;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.7em;
    display: flex;
}

footer p{
    margin: auto;
}


@media only screen and (max-width: 1170px) {
    .container{
        height: 100vh;
        margin-bottom: 50px;
    }
    .o_container{
        height: 100%;
        width: 50%;
    }

    .l_container{
        height: 100%;
        width: 50%;
        margin-top: 0px;
    }

    .s_container{
        width: 70%;
        display: flex;
        flex-direction: row;
        height: 115vh;
        margin: auto;
        margin-top: auto;
        margin-top: 0px;
    }
    .tarjetas{
        margin: auto;
        margin-top: 10px;
        width: 90%;
        height: 130px;
        background-color: #f5f5f5;
        border-radius: 5px;
        display: flex;
        color: black;
        justify-content: left;
        align-items: left;
    }
    .d_actividades{
        height: 96vh;
        width: 45vw;
        margin-left: 0px;
        margin-top: 0px;
    }
    .d_actividadesa{
        background-color: white;
        width: 90vw;
        height: 80%;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .pttarjetas{
        font-weight: 500;
        margin: 9px;
        margin-top: 7px;
        margin-bottom: 3px;
        font-size: 0.8em;
    }
    .ptarjetas{
        font-weight: 300;
        margin: 7px;
        margin-top: 4px;
        font-size: 0.8em;
    }
    .buscador{
        height: 60px;
    }
    
    .buscador form{
        height: 60px;
    }
    
    .buscador input{
        padding: 8px;
    }
}

@media only screen and (max-width: 866px) {
    .s_container{
        width: 45vw;
    }
    .ttarjeta{
        text-align: left;
    }
    .apttarjetas{
        font-weight: 400;
        margin: 4px;
        font-size: 0.7em;
    }
    .pttarjetas{
        font-weight: 500;
        margin-left: 7px;
        margin-top: 7px;
        font-size: 0.9em;
    }
    
    .ptarjetas{
        font-weight: 400;
        margin-left: 7px;
        margin-top: 3px;
        font-size: 0.7em;
    }
    .buscador{
        height: 60px;
    }
    
    .buscador form{
        height: 60px;
    }
    
    .buscador input{
        padding: 8px;
    }
}

@media only screen and (max-width: 640px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 205vh;
        margin: auto;
    }

    .o_container{
        width: 100vw;
        height: 100vh;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .s_container{
        width: 100vw;
        margin: auto;
    }

    .l_container{
        width: 100vw;
        height: 100vh;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .d_actividades{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 0px;
        width: 70vw;
    }
    .d_actividadesa{
        margin: auto;
        margin-bottom: 20px;
        margin-top: 30px;
        width: 70vw;
    }

}

@media only screen and (max-width: 600px) {
    .menu{
        text-align: center;
        flex-direction: column;
        height: 20vh;
    }
    .dlogo{
        width: 100vw;
    }
    
    .dicons{
        margin: auto;
        width: 100vw;
        text-align: center;
    }
    .dmicons{
        margin: auto;
        width: 100vw;
        text-align: center;
    }
    .nicons{
        margin: auto;
    }
}

@media only screen and (max-width: 475px) {
    .d_actividades{
        width: 80vw;
    }
    .d_actividadesa{
        width: 80vw;
    }
}

@media only screen and (max-width: 372px) {
    .dicons{
        text-align: center;
    }
    .logo{
        height: 30px;  
        margin: auto;
    }    
    .s_container{
        width: 100vw;
        margin: auto;
    }
    .d_actividades{
        width: 100vw;
        height: 80vh;
    }
    .d_actividadesa{
        width: 100vw;
    }
    .tarjetas{
        margin: auto;
        margin-top: 5px;
        margin-bottom: 1px;
        width: 90%;
        height: 100px;
    }
    .itarjetas{
        margin: auto;
        width: 33%;
        height: 60%;
        border-radius: 5px;
    }
    .pttarjetas{
        font-weight: 500;
        margin-left: 7px;
        margin-top: 3px;
        font-size: 0.8em;
    }
    
    .ptarjetas{
        font-weight: 400;
        margin-left: 7px;
        margin-top: 1px;
        font-size: 0.6em;
    }
    .apttarjetas{
        font-weight: 400;
        margin: auto;
        margin-top: 6px;
        margin-bottom: 4px;
        margin-left: 3px;
        font-size: 0.6em;
    }
}