@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body{
	margin: 0px;
	padding: 0px;
    font-family: 'Montserrat';
    font-weight: 100;
    overflow: hidden;
}

body{
    background: linear-gradient(#181818 0%, #8758FF 100%);
}

.container{
    display: flex;
    width: 100%;
    height: 90vh;
    margin: auto;
}

.form_estilos{
    text-align: center;
    margin: auto;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 3px solid #5CB8E4;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.form_estilos_l{
    text-align: center;
    margin: auto;
    width: 350px;
    height: 325px;
    display: flex;
    flex-direction: column;
    border: 3px solid #5CB8E4;
    background-color: #F2F2F2;
    border-radius: 10px;
}

form{
    margin: auto;
    height: 450px;
}

h1{
    font-size: 1.5em;
    font-weight: 500;
}

nav{
    width: 100vw;
    height: 80px;
    display: inline-block;
    text-align: right;
}

nav a{
    margin: auto;
}

.login_button{
    border: solid 3px #8758FF;
    background-color: transparent;
    border-radius: 65px;
    width: 135px;
    color: white;
    font-size: 1em;
    margin: auto;
    margin: 10px;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 300!important;
    cursor: pointer; 
}

.itext{
    width: 250px;
    height: 40px;
    margin: 5px;
    background-color: #D9D9D9;
    padding: 7px;
    border: 0px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 100;
}

::placeholder{
    color: #6C6C6C;
}

.rbutton{
    background-color: #1174a2;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    width: 125px;
    height: 40px;
    font-family: 'Montserrat';
    font-weight: 100;
}

form p{
    font-size: 0.9em;
    color: #6C6C6C;
}

form a{
    color: #6C6C6C;
}

span{
    text-decoration: underline;
}

footer{
    height: 10vh;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.7em;
    display: flex;
}

footer p{
    margin: auto;
    color: black;
}

@media only screen and (max-width: 500px) {
    .container{
        display: flex;
        width: 100%;
        height: 90vh;
        margin: auto;
    }
    nav{
        text-align: center;
    }
    .form_estilos_l{
        text-align: center;
        margin: auto;
        margin-top: 33%;
        width: 350px;
        height: 325px;
        display: flex;
        flex-direction: column;
        border: 3px solid #5CB8E4;
        background-color: #F2F2F2;
        border-radius: 10px;
    }
    .itext{
        width: 250px;
        height: 40px;
        margin: 5px;
        background-color: #D9D9D9;
        padding: 7px;
        border: 0px;
        border-radius: 5px;
        font-family: 'Montserrat';
        font-weight: 100;
    }
    h1{
        font-size: 1.2em;
        font-weight: 500;
    }
    form p{
        font-size: 0.7em;
        color: #6C6C6C;
    }
  }